.card {
    padding: 16px 12px;
    border-radius: 2px;
    box-shadow: 1px 1px 3px 1px rgb(136, 134, 134);
    transition-duration: 0.3s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    p {
        max-width: 100%;
        line-height: 26px;
    }
    &:hover {
        box-shadow: 1px 2px 8px 1px rgb(136, 134, 134);
        transition-duration: 0.3s;
    }
}

.centre {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    .add-new {
        color: blue;
        cursor: pointer;
        box-shadow: none;
        p {
            font-weight: 600;
        }
    }
}

.simple-card {
    padding: 16px 12px;
    transition-duration: 0.3s;
    position: relative;
    p {
        max-width: 100%;
        line-height: 26px;
    }

}