.error-messsage {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: 1px 1px 6px 1px rgb(117, 117, 117);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;
}

.success-message {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: 1px 1px 6px 1px rgb(117, 117, 117);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: green;
}

.modal-cart-menu {
    position: absolute;
    padding: 12px;
    top: 0px;
    left: 0px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    p {
        &:first-child {
            padding-bottom: 10px;
        }
    }
}