@import './font.scss';
@import './components/modalWindow.scss';
@import './components/app.scss';
@import './components/header.scss';
body {
    font-family: 'Roboto', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    color: #000;
    text-decoration: none;
}


button {
    box-shadow: none;
    border: none;
    outline: 0;
    outline-offset: 0;
    &:hover {
        box-shadow: none;
        border: none;
        outline: 0;
        outline-offset: 0;
    }
    &:active {
        box-shadow: none;
        border: none;
        outline: 0;
        outline-offset: 0;       
    }
}
::-webkit-scrollbar {
    display: none;
}